/* Page 404 */

body {
    font-family: "Roboto", sans-serif;
    background-color: #111112;
    color: #fff;
    padding: 0 130px 0 130px;
    margin: 0;
    background-image: url('../assets/404.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 35px 0 330px 0;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0;
}

h1 {
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 25px;
}

h2 {
    font-size: 16px;
    font-weight: 500;
}

p {
    font-size: 16px;
    color: #8E8E8E;
    margin: 0;
}

span {
    color: #8B5CF6;
}