/* Main */
:root {
    --main-color: #8B5CF6;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #111112;
    color: #fff;
    padding: 0 130px;
    margin: 0;
    background-image: url('../assets/footer.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

/* Text — Десктоп */
h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 58px; /* 1.2 */
    margin: 0 0 15px 0;
}

h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 45px; /* 1.25 */
    margin: 0;
}

h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 37px; /* 1.3 */
    margin: 0;
}

h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 31px; /* 1.3 */
    margin: 0;
}

h5 {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    line-height: 28px; /* 1.4 */
    margin: 0;
}

h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px; /* 1.45 */
    margin: 0;
}

p {
    font-size: 16px;
    color: #9AA1AF;
    margin: 0;
    line-height: 24px; /* 1.5 */
}

ul {
    margin: 0;
}

li {
    color: #9AA1AF;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: #9AA1AF;
}

a:hover {
    color: #8B5CF6;
}

span {
    color: #8B5CF6;
}

/* Text — Мобильные */
@media (max-width: 768px) {
    h1 {
        font-size: 32px;
        line-height: 39px; /* 1.2 */
    }

    h2 {
        font-size: 28px;
        line-height: 35px; /* 1.25 */
    }

    h3 {
        font-size: 24px;
        line-height: 31px; /* 1.3 */
    }

    h4 {
        font-size: 20px;
        line-height: 26px; /* 1.3 */
    }

    h5 {
        font-size: 18px;
        line-height: 25px; /* 1.4 */
    }

    h6 {
        font-size: 16px;
        line-height: 23px; /* 1.45 */
    }

    p {
        font-size: 15px;
        line-height: 22px; /* 1.45 */
    }

    li {
        line-height: 22px;
    }
}